---
---

html, body {
    box-sizing: border-box;
	margin: 0;
}

body {
	background: black;
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans';
	height: 100%;
	padding: 4px;
}

.container {
	background: lavenderblush;
    border-radius: 1em 1em 5em 1em;
    padding: 1em;
	display: flex;
	flex-direction: column;
    height: 100%;
    box-sizing: border-box;
	width: 60vh;
	max-width: 100%;
    margin: auto;

	@media all and (orientation:landscape) {
		height: 60vw;
		max-height: 100%;
		max-width: initial;
		width: 100%;
		flex-direction: row;
	}
}

.widget {

	&.header {
		display: flex;
		font-size: 14px;
		justify-content: space-around;
		margin: 0.3em;

		.logo {
			font-size: 21px;
		}

		@media all and (orientation:landscape) {
			flex-direction: column;
		}
	}

	&.screen {
		position: relative;
		border: 5px solid rgba(0,0,0,0.6);
		box-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.3) inset;
		padding: 6px;
		background: #C9CAC9;
		display: flex;
		flex-direction: column;
		margin: 1em;
		flex-grow: 1;
		justify-content: center;

		canvas {
			flex-grow: 1;
    		align-self: stretch;
			image-rendering: -moz-crisp-edges;
			image-rendering: -o-crisp-edges;
			image-rendering: -webkit-optimize-contrast;
			image-rendering: crisp-edges;
			image-rendering: pixelated;
			-ms-interpolation-mode: nearest-neighbor;
		}
	}
}

@import 'camera';
@import 'logo';