---
---

* {
	font-smooth: never;
	-webkit-font-smoothing: none;
}

svg {
	pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;

	.screen & {
		opacity: 0;
	}
}

.dummy-for-render.fake-render {
	position: absolute;
	top: 6px;
	left: 6px;
	transform-origin: 0 0;
	opacity: 0;
}

.no-interaction {
	pointer-events: none;
}

.dummy-for-render,
svg foreignObject div {
	font-size: 8px;
    font-family: "Pixel", "Press Start P2", "monospace";
    line-height: 16px;

	div {
		position: relative;
	}

	.swipe {
		border-style: solid;
		border-width: 1px 0;
		margin-top: 8px;
		display: inline-block;
		padding-top: 4px;
	}

	button, .button {
		display: inline-block;
		border: 1px solid blue;
		background: white;
		box-shadow: 2px 2px 0 0 grey;
		margin-bottom: 3px;
    	font-family: "Pixel", "Press Start P2", "monospace";
		line-height: 16px;
		font-size: 8px;
		border-radius: 2em;
		padding: 0.2em 0.5em 0;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}

	.rec:after {
		color: red;
		content: '\23FA';
		font-size: 1.5em;
	}
}

#cameraContentForRender {
    display: flex;
    flex-direction: column;
    align-items: center;

	.viewfinder {
		width: 96px;
		height: 96px;
		background: black;
		margin: 0.5em 0;
		border: 3px solid black;
		box-sizing: content-box;
	}
}

@import 'fonts';
@import 'logo';