---
---

svg {
	display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.dummy-for-render.fake-render {
	position: absolute;
	top: 6px;
	left: 6px;
	transform-origin: 0 0;
	transform: scale(3);
	opacity: 0;
}

.no-interaction {
	pointer-events: none;
}

.dummy-for-render,
svg foreignObject div {
	font-size: 8px;
    font-family: "Pixel", "Press Start P2", "monospace";
    line-height: 16px;

	.swipe {
		border-style: solid;
		border-width: 1px 0;
		margin-top: 8px;
		display: inline-block;
		padding-top: 4px;
	}

	button {
		display: inline-block;
		border: 1px solid blue;
		background: white;
		box-shadow: 2px 2px 0 0 grey;
		margin-bottom: 3px;
    	font-family: "Pixel", "Press Start P2", "monospace";
		line-height: 16px;
		font-size: 8px;
	}
}

#cameraContentForRender {
    display: flex;
    flex-direction: column;
    align-items: center;

	.viewfinder {
		width: 96px;
		height: 96px;
		background: black;
		margin-bottom: 0.5em;
	}
}

@import 'fonts';
@import 'logo';